.Projects {
    height: 100%;
    width: 100%;
    padding:50px;
    color: #000;
    text-align: center;
    position: relative;
    background-color: #f1f1f1;
    pointer-events: none;
  
  }
  
  .Projects h1 {
    font-size: 36px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    pointer-events: all;
    opacity: 1;
    animation: showup 7s;

  }
