@import "../../assets/styles/variables.scss";

// .MainContainer .TopSvg, .MainContainer .BottomSvg{
//   height: 200px;
//   width: 100%;
// }

.Project {
  min-height: 600px;
  width: 100%;
  transform: skewY(5deg);
}

.BgProject {
  background-color: $backgroundProject;
}

//Project structure styles

.Container {
  margin: 0;
  padding: 80px 15%;
  transform: skewY(-5deg);
}

.InfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reverse {
  flex-direction: row-reverse;
}

.Project .Container .MainImg {
  max-width: 550px;
  max-height: 350px;
  margin-right: 20px;
  margin-left: 20px;
}

.Project .Container .ProjectTech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  min-height: 100px;
}

.Project .Container .ActionContainer {
  display: flex;
  justify-content: center;
}

.Project .Container .ActionBtn {
  background-color: #549678;
  padding: 10px 50px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.InfoContainer .Title {
  font-size: 24px;
  color: $secondary;
  text-decoration: none;
}

.InfoContainer .Title h1 {
  font-weight: 500;
}

.InfoContainer .Description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.InfoContainer .TechTitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.InfoContainer .ProjectTech {
  padding: 20px;
  display: flex;
  flex-wrap: wrap !important;
  z-index: 1;
}

@media (max-width: 800px) {
  .Container {
    padding: 80px 10%;
  }

  .InfoContainer .Title {
    font-size: 16px;
  }

  .Project .Container .MainImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

  }

  .InfoContainer {
    flex-direction: column;
    margin: 10px 0px;
  }

  .Reverse {
    flex-direction: column;
  }
}
