.BgPink {
  background-color: deeppink !important;
}

.BgViolet {
  background-color: #82279b !important;
}

.BgBlue {
  background-color: #0a1c39 !important;
}

// Grid
.Menu {
  background-color: #171a21;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 30px;
  overflow: hidden;
  color: #fff;
}

.GridItem {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.GridItemInner {
  height: 100%;
  width: 100%;
}

//Photo
.Photo {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  background-image: url("../../assets/me.jpg");
  background-size: cover;
  border-radius: 3px;
}

.Photo .BorderOnHover {
  background-color: transparent !important;
  align-items: flex-end !important;
  color: #fff;
}

.Photo .Info {
  position: absolute;
  padding: 30px 60px;
}

.Photo .Info p {
  font-size: 20px;
}

.Photo .Info h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.Photo .Info h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

// Mail

.Mail {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
}

//Border on hover
.BorderOnHover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  border: 4px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.BorderOnHover:hover {
  border: 4px solid #fff;
}

//ramdon quotes

.RandomQuotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.RandomQuotes p {
  font-size: 16px;
  text-align: center;
}


// Cube
.cube {
  -webkit-transition: -webkit-transform 0.33s;
  transition: transform 0.33s; /* Animate the transform properties */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,
.flop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flippety {
  font-size: 60px;
  background: #297fb950;
}
.flop {
  background: #297fb950;
}

/* Position the faces */
.flippety {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
}

.flop {
  -webkit-transform: rotateX(-90deg) translateZ(-100px);
  transform: rotateX(-90deg) translateZ(-100px);
}

/* Rotate the cube */
.cube:hover {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg); /* Text bleed at 90ยบ */
}

// Tools
.tools {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.tools .tools .flip-card-inner .flip-card-front {
  font-size: 20px;
}

@media (max-width: 1140px) {
  .Menu {
    overflow-y: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: auto;
  }
}

@media (max-width: 800px) {
  .Menu {
    overflow-y: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: auto;
  }
}


@keyframes anim {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
