// colors

.BgSmoke{
  background-color: #D3D3D3;
}

// About Section 
.About {
  // min-height: 400px;
  width: 100%;
  color: #000;
  text-align: center;
  position: relative;
  // background-color: #fff;
  // margin-top: -200px;
  // margin-bottom: -185px;
}

.About .SVGTop{
  margin-top: -125px;
  pointer-events: none;
}

.AboutContainer{
  // margin-top: -160px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 400;
}

.Container{
  padding: 20px 100px;
}


.AboutContainer h1 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;

}
