// colors


// About Section 
.About {
  // min-height: 400px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
 padding: 30px;
}

.AboutContainer{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
}


.AboutContainer h1 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
}

.Skills{
  position: relative;
  max-width: 500px;
  color: #000;
  margin: auto;
  margin-top: 50px;
}
