.ContactContainer {
  background-color: #fff;
  height: auto;
  width: 100%;
}

.ContactContainer svg {
  margin-bottom: -20px;
}
.Contact {
  height: auto;
  width: 100%;
  padding: 50px;
  text-align: center;
  position: relative;
  background-color: #1B242F;
  pointer-events: none;
}

.Contact h1 {
  margin-top: -100px;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  pointer-events: all;
  opacity: 1;
  margin-bottom: 40px;
}

.ContactEmail{
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  height: 80px;
  width: fit-content;
  padding: 10px 50px;
  margin: auto;
  // border: 3px solid skyblue;
  border-radius: 5px;
  // background-color: skyblue;
}
