// Header

.Header {
  color: #000;
  background-color: #fff;
  height: 100vh;
  width: 100%;  
}

.Header div {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderTitle {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

.HeaderSubTitle {
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.PerfilImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DownBtn {
  font-size: 16px;
  border: none;
  background-color: #E31B6D;
  color: #fff;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 50%;
  transition: 0.2s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.DownBtn i {
  font-size: 18px;
  transition: 0.2s ease-in;
}

.DownBtn:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: #000;
}





