// Header

.Header {
  height: 100%;
  width: 100%;
  color: #fff;
}

.HeaderTitle {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: 40px;
  font-weight: 300;
  padding: 50px;
}

.HelloText {
  animation: slidein 2s;
}

.HeaderSubTitle {
  font-weight: 300;
  animation: slideinr 2s;
}

.DotBlue {
  color: skyblue;
  font-weight: 400;
}

.down-btn {
  font-size: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 10px 25px;
  margin-top: 10px;
  pointer-events: all;
  animation: showup 5s;
  transition: .2s ease-in;
}

.down-btn i{
  font-size: 18px;
  transition: .2s ease-in;
}


.down-btn:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: #000;
}

.down-btn:hover i{
  transform: rotate(90deg);
}

.down-btn i {
  margin-left: 10px;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
    opacity: 0;
  }
  20% {
    margin-left: -800px;
    opacity: 0;
  }
  35% {
    margin-left: 0px;
    opacity: 1;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes slideinr {
  0% {
    margin-right: -800px;
    opacity: 0;
  }
  20% {
    margin-right: -800px;
    opacity: 0;
  }
  35% {
    margin-right: 0px;
    opacity: 1;
  }
  100% {
    margin-right: 0px;
    opacity: 1;
  }
}
