.Courses {
  height: 600px;
  width: 100%;
  padding:50px;
  color: #000;
  text-align: center;
  position: relative;
  background-color: #fff;
  pointer-events: none;
}

.Courses h1{
  font-size: 36px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 150px;
  padding-top: 50px;
}

.ReactCardCarousel{
  margin-top: 100px;
  position: relative;
}

.CardStyle {
  // background-color: skyblue;
  height: "400px";
  width: "400px";
  text-align: "center";
  text-transform: "uppercase";
}
