.SkillBars {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  background: lightskyblue;
  justify-content: left;
}
::selection {
  color: #fff;
  background: lightskyblue;
}
.skill-bars {
  padding: 0px 10px;
  width: 100%;
  border-radius: 12.5px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
    text-align: left;
  margin-bottom: 0px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  height: 25px;
  margin-left: 10px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 25px;
  width: 100%;
  background: rgba(0, 0, 0, 0.308);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 12.5px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: skyblue;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 95%;
}
.bar .progress-line.css span {
  width: 90%;
}
.bar .progress-line.jquery span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 90%;
}
.bar .progress-line.mysql span {
  width: 60%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "95%";
}
.progress-line.css span::after {
  content: "90%";
}
.progress-line.jquery span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "90%";
}
.progress-line.mysql span::after {
  content: "65%";
}
