* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button{
  cursor: pointer;
}

ul{
  list-style: none;
}

.App{
  /* background-color: #111111b6; */
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.particlesjs{
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}