@import "../../assets/styles/variables.scss";

.Apps{
    height: 450px;
    width: auto;
    background-color: $background;
    padding: 0px 25%;
}

.Apps .AppsTitle{
    text-align: center;
    color: $primary;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 25px;
}

  .AppsGrid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 25px 0;
      justify-content: center;
      gap: 10px;
  }

 
  .AppsGrid a img{
      height: 400px;
      width: 250px;
      border-radius: 10px;
      transition: .3s linear;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:hover{
        transform: scale(1.2);
      }
  }

